/**
* @name ProjectChimpNewSeed
* @author terminala
* @version 1.3
* @description Project Chimp New Seed Discord Theme Credit to monitii for font stuff
* @invite FdZhbjY
* @source https://github.com/RockGuyDog/projectchimpnewseedtheme
* @updateUrl https://raw.githubusercontent.com/RockGuyDog/projectchimpnewseedtheme/main/Project-Chimp-New-Seed.Theme.css
*/

@import url('https://fonts.cdnfonts.com/css/public-pixel');
@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/ServerColumns/ServerColumns.css');

:root {
  --TB-header-padding: 200px;
  --background-image: url('https://cdn.discordapp.com/attachments/1146039062021537893/1152629914349092914/image.png');
  --background-image-blur: 5px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-image: url('https://cdn.discordapp.com/attachments/1146039062021537893/1152629914349092914/image.png');
  --popout-image-blur: 2px;
  --popout-image-size: cover;
  --popout-image-position: center;
  --overlay-image: url('https://cdn.discordapp.com/attachments/1146039062021537893/1152629914349092914/image.png');
  --overlay-image-blur: 4px;
  --overlay-image-size: cover;
  --overlay-image-position: center;
  --home-button-image: url('https://cdn.discordapp.com/icons/1143592478432305152/020d1fe3650f03b6825816a2370d6c48.webp?size=128');
  --home-button-size: 100%;
  --home-button-position: center;
  --serverlist-brightness: 0.74;
  --left-brightness: 0.8;
  --middle-brightness: 0.6;
  --right-brightness: 0.1;
  --overlay-brightness: 0.75;
  --gradient-primary: 255,56,0;
  --gradient-secondary: 0,255,6;
  --link-colour: #006BF4;
  --scrollbar-colour: rgb(255,255,255,0.5);
  --gradient-direction: 294deg;
  --tint-colour: 255,51,159;
  --tint-brightness: 0;
  --font: Public Pixel;
  --chat-font-size: 10px;
  --other-font-size: 12px;
  --other2-font-size: 3px;
  --window-padding: 10px;
  --window-roundness: 15px;
  --update-notice-1: none;
  --columns: 2;
  --guildgap: 1;
  --aligndms: 0;
}

.platform-win .typeWindows-2-g3UY {
  height: var(--TB-bar-height, 9px);
  margin-top: 0;
  position: absolute;
  top: 1px;
  left: 0;
  width: 95%;
  background: transparent;
}
.platform-win .winButtonClose-3Q8ZH5 {
  border-top-right-radius: var(--TB-tr-roundness);
}
.platform-win .winButton-3UMjdg {
  position: relative;
  top: calc(var(--TB-position-top, 0px) - 1px);
  right: var(--TB-position-right, 0px);
  height: var(--TB-height, 48px);
  width: var(--TB-width, 40px);
}
.platform-win .winButton-3UMjdg:not(.winButtonClose-3Q8ZH5):hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.platform-win .container-ZMc96U {
  padding-right: var(--TB-header-padding);
}
.platform-win .wordmarkWindows-2dq6rw {
  display: none;
}
.platform-win #app-mount.bd-detached-editor .winButton-3UMjdg {
  right: 30%;
}
.platform-win .closeButton-30b1gR {
  right: unset;
  left: 0;
}
.platform-win #app-mount .typeWindows-2-g3UY::before {
  content: none !important;
}

/*:not([class="hljs"]):not(code) {
  font-size: var(--font-size)!important;
}*/

.sidebar-1tnWFu {
  font-size: var(--other2-font-size)!important;
  font-family: var(--font)!important;
}

span {
  font-size: var(--chat-font-size);
  font-family: var(--font)!important;
}

:not(span) {
  font-size: var(--other-font-size)!important;
  font-family: var(--font)!important;
}

